body{
  margin: 0px;
  background: #141414;
  color: white;
}
main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}
.netflixOriginals{
  margin-left: 30px;
  display:flex;
  gap: 15px;
  padding: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.netflixOriginals::-webkit-scrollbar {
  display: none;
}
.netflixOriginals > img {
/*   visibility: hidden; */
  width: 290px;
  height: 575px;
  object-fit: cover;
  transition: 450ms;
/*   overflow: hidden; */
}
.netflixOriginals > img:hover {
  transform: scale(1.05)
}
.row--title{
  margin: 0px;
  margin-left: 30px;
  padding: 5px;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;  
  color: #E5E5E5;
}
.regular{
  margin-left: 30px;
  display:flex;
  gap: 5px;
  padding: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
  /* opacity: 0.6; */
}
.regular > img {
  min-width: 285px;
  height: 171px;
  object-fit: cover;
  transition: 450ms;
  opacity: 1;
}
.regular > img:hover {
  transform: scale(1.05);
  opacity: 1;
}
.regular::-webkit-scrollbar {
  display: none;
  
}
.banner--main{
  
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 710px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 810px;
  
  /* align-items: flex-end; */
  /* border: solid red; */
}
.banner--components{
  /* position: absolute; */
  /* bottom: 400px; */
  margin-top: auto;
}
.banner-title{
  padding: 0px;
  margin-left: 30px;
  margin-bottom: 15px;
}
.buttons {
  margin: 0px;
  margin-left: 30px;
  display: flex;
}
.play-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border: none;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: #141414;
  height: 45px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 15px;

}
.more-info-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.8rem;
  height: 45px;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  /* identical to box height */


  /* Black */

  color: #ffff;

  /* White %30 Opacity */

  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  border: none;
}
.banner--fade{
  /* position: absolute; */
  /* background: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #141414 20%); */
  /* bottom: 0; */
  width: 100%;
  height: 30px;

}
.play-logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  padding: 0px;
}
.info-logo{
  width: 15px;
  height: 16px;
  margin-right: 10px;
  padding: 0px;
}
.banner--description{
  max-width: 500px;
  margin-left: 30px;
  padding-top: 1rem;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 0.8rem;
  line-height: 33px;
  height: 80px;
  /* White */

  color: #FFFFFF;
  opacity: 1;
}
.navbar {
  position: fixed;
  overflow: hidden;
  z-index: 2;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 300ms;
  /* display: flex; */
}
.netflix-logo{
  display: flex;
  object-fit: contain;
  width: 111px;
  height: 30px;
}
.user-logo{
  width: 32px;
  height: 32px;
  margin-right: 50px;
}